@import url("https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=Kavivanar&family=Lavishly+Yours&family=Tangerine:wght@400;700&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #91f0ff 0%, #e1ffea22 60%);
}
.landcont {
  width: 100%;
  display: flex;
  justify-content: center;
}
.left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.left img {
  transform: translateY(-28%);
  height: 65%;
}
.right {
  width: 40%;
}
.land {
  display: grid;
  row-gap: 5px;
  align-items: center;
  padding: 40px 0;
  height: 65vh;
  margin-top: 15vh;
  text-align: center;
}

.bspan {
  font-family: "Lavishly Yours", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 4em;
  color: rgb(21, 20, 20);

  text-shadow: 2px 2px 8px rgb(255, 0, 187);
  letter-spacing: 3px;
}
.shop_btn button {
  font-weight: 800;
  padding: 0 15px;
  font-style: normal;
  border-radius: 35px;
  font-size: 2em;
  width: 300px;
  height: 60px;
  background: #ff4141;
  /* color: rgb(249, 242, 203); */
  color: white;
  margin-top: 20px;
  cursor: pointer;
}
