:root {
  --blue: #fe0055;
  --white: #ffecdb;
  --back: #e9dfc3;
  --ext: #1b57fd1d;
}
.nav {
  height: 12vh;
  position: fixed;
  padding: 0;
  width: 100%;
  z-index: 1;
  margin: 0;
}
.nav ul {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.607);
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  backdrop-filter: blur(10px);
  align-items: center;
  background-color: #ffffff4c;
}
ul a {
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(28, 28, 28);
}
.search {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 10px;
  width: 38vw;
  background-color: var(--white);
  height: 5vh;
  border-radius: 10px;
  box-sizing: border-box;
}
.ip {
  background: none;
  border: none;
  width: 37vw;
  margin-left: 10px;
  height: 5vh;
  box-sizing: border-box;
  font-size: 1em;
  padding: 10px;
  font-weight: bold;
}
.ip:focus {
  border: none;
  outline: none;
}
.ip::placeholder {
  font-style: italic;
}
.login {
  cursor: pointer;
  border: 1.5px solid black;
  border-radius: 20px;
  padding: 5px 8px;
}
.login:active {
  background-color: rgb(0, 225, 255);
}

.head {
  font-size: 2.5em;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
ul img {
  height: 90px;
  width: 90px;
  /* margin-left: 10px; */
  filter: drop-shadow(2px 2px 1.5px rgb(0, 0, 0));
}
.title {
  text-shadow: 0 0 10px rgb(255, 255, 255);
  color: blue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* -webkit-text-stroke: .5px rgb(255, 255, 255); */
}
hr {
  margin-top: 5px;
  transform: translateX(10px);
  width: 80%;
  height: 3px;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 0, 0);
}
.cart {
  width: 60px;
  display: flex;
  justify-content: center;
  padding-left: 10px;
 
  
}
.cart_count {
  width: 15px;
  background-color: red;
 display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  margin-top: -15px;
  margin-left: -8px;
  font-size: 15px;
  border-radius: 50%;
  font-weight:500;
  color: white;
}
